* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/*index page*/
a {
    color: inherit;
}

    a:visited {
        /* color: #76E4FA;*/
        color: white;
    }

    a:hover {
        color: white;
    }

body {
    background-color: #76E4FA;
    color: white;
}


.index-container {
    max-width: 90%;
    margin: 150px auto;
    padding-left: 25px;
    padding-right: 25px;
}

.small-container {
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.welcome {
    width: 60%;
    min-width: 300px;
    text-align: center;
}

    .welcome h1 {
        font-size: 50px;
        font-weight: 900;
        color: #2c2c51;
    }

    .welcome p {
        font-size: 20px;
    }

.button {
    display: inline-block;
    background-color: #2c2c51;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.title {
    text-align: center;
    margin: 0 auto 20px;
    position: relative;
    line-height: 60px;
    color: #2c2c51;
    font-size: 50px;
}

.col-3 {
    flex-basis: 30%;
    border-radius: 30px;
    color: #83CEEB;
    background-color: white;
}

    .col-3 p {
        font-size: 10px;
        margin: 12px 0;
        color: #83CEEB;
    }


.col-6 {
    flex-basis: 16%;
    padding: 30px;
    color: black;
}

    .col-6 p {
        font-size: 6px;
    }

.main-circle {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    padding: 30px;
}

    .main-circle p {
        font-size: 10px;
    }

.col-12 {
    flex-basis: 100%;
    text-align: center;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

    .col-4 p {
        text-align: center;
        font-size: 20px;
    }

/*how-it-works*/
.how-it-works {
    margin: 70px 0;
    text-align: center;
}

    .how-it-works p {
        font-size: 20px;
    }

/*sport-category*/
.sport-category {
    margin: 100px 0;
}

    .sport-category img {
        width: 100%;
        border-radius: 15px;
    }

    .sport-category p {
        font-size: 10px;
        text-align: center;
    }

    .sport-category i {
        font-size: 30px;
    }

/*opinions*/
.opinions {
    padding-top: 100px;
}

    .opinions .col-3 {
        text-align: center;
        padding: 50px 20px;
        box-shadow: 0 0 35px 2px #2c2c51;
        cursor: pointer;
    }

    .opinions img {
        width: 50px;
        margin-top: 20px;
        border-radius: 50%;
    }

    .opinions .col-3 h3 {
        color: #2c2c51;
    }

    .opinions p {
        font-size: 20px;
    }

/*User Profile*/
.profile-container {
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*User Profile*/
.calender-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box {
    background: #83CEEB;
    text-align: center;
    color: #fff;
    position: relative;
    border-radius: 40px;
    padding: 40px;
}

.profile-pic {
    width: 250px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
}

.upload {
    position: relative;
}

    .upload img {
        border-radius: 50%;
    }

    .upload .round {
        position: relative;
        bottom: 40px;
        right: -200px;
        background: #76E4FA;
        width: 32px;
        height: 32px;
        line-height: 33px;
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
    }

        .upload .round input[type = "file"] {
            position: absolute;
            transform: scale(2);
            opacity: 0;
        }

            .upload .round input[type = "file"]:hover {
                animation: grow 0.5s;
            }



input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.tile {
    margin-top: 5px;
    height: 100px;
    width: 80px;
    position: relative;
}


    .tile input[type="checkbox"] {
        -webkit-appearance: none;
        position: relative;
        height: 100%;
        width: 100%;
        background-color: #ffffff;
        border-radius: 10px;
        cursor: pointer;
        border: 3px solid transparent;
        outline: none;
    }

        .tile input[type="checkbox"]:after {
            position: absolute;
            font-family: "Font Awesome 5 Free";
            font-weight: 400;
            content: "\f111";
            font-size: 12px;
            top: 2px;
            left: 2px;
            color: #e2e6f3;
        }

        .tile input[type="checkbox"]:hover {
            transform: scale(1.08);
        }

        .tile input[type="checkbox"]:checked {
            border: 3px solid #76E4FA;
        }

            .tile input[type="checkbox"]:checked:after {
                font-weight: 900;
                content: "\f058";
                color: #76E4FA;
            }

.location {
    background-color: white;
    color: #83CEEB;
    margin-bottom: 10px;
    border-radius: 25px;
    padding: 3px;
}

.profile-label {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

    .profile-label .fas {
        font-size: 30px;
        color: #2c2c51;
    }

input[type="checkbox"]:checked + .profile-label .fas {
    animation: grow 0.5s;
}

.profile-label .img {
    font-size: 30px;
    color: #2c2c51;
}

input[type="checkbox"]:checked + .profile-label .img {
    animation: grow 0.5s;
}

@keyframes grow {
    50% {
        font-size: 45px;
    }
}

.profile-label h6 {
    font-family: "Poppins",sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #7b7b93;
}

h1 {
    margin-top: 5px;
    font-family: "Poppins",sans-serif;
}

.scrollable-container {
    padding: 2px;
    max-height: 300px;
    overflow-y: scroll;
}

    .scrollable-container::-webkit-scrollbar {
        display: none;
    }

.female-circle {
    width: 30px;
    height: 30px;
    background-color: #FFDAFF;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    overflow: hidden;
}

.icon {
    color: white;
    font-size: 20px;
}



.male-circle {
    width: 30px;
    height: 30px;
    background-color: #A8DAFF;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    overflow: hidden;
}
/*Login*/
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.login-wrapper {
    width: 380px;
    max-width: 100%;
    background: #83CEEB;
    border: 2px solid rgba(255, 255, 255 .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 35px 45px;
}

    .login-wrapper h1 {
        font-size: 36px;
        font-weight: 400;
        text-align: center;
    }

    .login-wrapper .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 30px 0;
        color: #83CEEB;
    }

.input-box input {
    width: 100%;
    height: 100%;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #000;
    padding: 20px 45px 20px 20px;
}

    .input-box input::placeholder {
        color: #83CEEB;
    }

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.login-wrapper .remember-forgot {
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 1px 20px 60px;
}

.remember-forgot label input {
    text-align: center;
    accent-color: #fff;
    margin-right: 3px;
    align-content: center;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

    .remember-forgot a:hover {
        text-decoration: underline;
    }

.login-wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #83CEEB;
    font-weight: 600;
}

.login-wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

    .register-link p a:hover {
        text-decoration: underline;
    }

/*Register*/
.input-control .error, .error2 {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
    text-align: center;
}

.register-body {
    font-family: "Poppins", sans-serif;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.register-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    max-width: 700px;
    width: 100%;
    background: #83CEEB;
    padding: 25px 30px;
    border-radius: 10px;
}

    .register-container .register-title {
        font-size: 35px;
        font-weight: 500;
        color: white;
        position: relative;
    }

        .register-container .register-title::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 30px;
            background: white;
        }

    .register-container form .user-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
    }

form .user-details .input-box-register {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box-register .details {
    display: block;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 2px;
}

.user-details .input-box-register input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

    .user-details .input-box-register input:focus,
    .user-details .input-box-register input:valid {
        border-color: white;
    }

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

form .gender-details .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender-details .category label {
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: 100;
}

.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: white;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
    border-color: #53affb;
}

form input[type="radio"] {
    display: none;
}

form .register-button {
    height: 45px;
    width: 260px;
    margin: 50px;
    margin-right: 30px;
    align-items: center;
}

    form .register-button .new-button {
        height: 100%;
        width: 100%;
        outline: none;
        color: #83CEEB;
        border: none;
        font-size: 18px;
        font-weight: 700;
        border-radius: 30px;
        letter-spacing: 1px;
        background: white;
    }

@media (max-width: 584px) {
    .register-container {
        max-width: 100%;
    }

    form .user-details .input-box-register {
        margin-bottom: 15px;
        width: 100%;
    }

    form .gender-details .category {
        width: 100%;
    }

    .register-container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 0;
    }
}

.user-details .input-box-register textarea {
    width: 100%;
    height: 100px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    color: black;
    font-weight: 500;
    margin-bottom: 2px;
}

    .user-details .input-box-register textarea:focus {
        border-color: white;
    }

/*main Page logged*/
.body-main {
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
}

.text-container {
    margin: 20px auto;
    padding: 10px;
    border-radius: 30px;
    background-color: white;
    height: 80px;
    color: #83CEEB;
    text-align: center;
    width: 800px;
}

.mainpage-pic {
    width: 300px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
}

.circle-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.circle-left,
.circle-right {
    margin-top: 30px;
}

.circle-left,
.circle-right,
.white-square {
    position: relative;
}

.small-circle {
    font-size: 55px;
    width: 80px;
    height: 80px;
    position: relative;
    background-color: white;
    color: #00FF7F;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-top: 30px;
    border: 3px solid #83CEEB;
    transition: transform 0.4s;
}

    .small-circle::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #70F67D;
        opacity: 0.05;
        border-radius: inherit;
        z-index: -1;
        transition: opacity 0.4s;
    }

    .small-circle:hover::before {
        opacity: 0.4;
    }

    .small-circle:hover {
        transform: scale(1.2);
    }

.small-circle2 {
    font-size: 55px;
    color: #DC143C;
    width: 80px;
    height: 80px;
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 3px solid #83CEEB;
    transition: transform 0.4s;
    position: relative;
}

    .small-circle2::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #FF6666;
        opacity: 0.05;
        border-radius: inherit;
        z-index: -1;
        transition: opacity 0.4s;
    }

    .small-circle2:hover::before {
        opacity: 0.4;
    }

    .small-circle2:hover {
        transform: scale(1.2);
    }


.white-square {
    margin-top: 55px;
    width: 200px;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.name-container {
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
    font-size: 22px;
    height: 85px;
    color: #83CEEB;
    text-align: center;
    width: 300px;
    margin-bottom: 30px;
}

    .name-container h1 {
        margin-bottom: -1px;
        font-family: "Poppins",sans-serif;
    }

.small-font {
    font-size: 25px;
    padding: 5px;
}

.smaller-circle {
    border: 3px solid #83CEEB;
    padding: 2px;
    background-color: white;
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin: 1px;
}

.small-circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup {
    width: 400px;
    background: #83CEEB;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px 30px;
    color: white;
    z-index: 1000;
}

.popupbg {
    display: none;
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 999;
}

/*Chat*/
.chat-container {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 70%;
    height: 90vh;
    background-color: #83CEEB;
    border-radius: 20px;
    padding: 10px;
}

.select-user {
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 20px;
    margin: auto;
    background-color: white;
    width: 95%;
    height: 130px;
    padding: 20px;
    color: black;
    text-align: center;
}

.user {
    display: inline-block;
    cursor: pointer;
    margin-right: 18px;
}

.last-message {
    border: solid 3px white;
    opacity: 0.7;
    width: 35%;
    float: left;
    height: 75%;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

    .last-message::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #76E4FA;
        filter: blur(10px);
        z-index: -1;
    }

.chat-container-user {
    opacity: 0.7;
    border: solid 3px white;
    float: right;
    width: 60%;
    height: 75%;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

    .chat-container-user::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #76E4FA;
        filter: blur(10px);
        z-index: -1;
    }

.message-container {
    color: black;
    flex: 1;
    overflow-y: auto;
    padding-bottom: 10px
}

.message {
    padding: 3px;
    text-align: left;
    font-size: 15px;
}


.chat-size {
    font-size: 15px;
    text-align: left;
}

.message-form {
    position: relative;
    padding: 2px;
    margin-bottom: 5px;
    width: 500px;
}


.textarea-container {
    position: relative;
}

.message-input {
    top: 50%;
    float: left;
    border: solid 1px white;
    background-color: #83CEEB;
    padding: 10px;
    border-radius: 20px;
    resize: none;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    resize: none;
    width: 92%;
}

    .message-input textarea {
        color: white;
    }


.submit-button {
    position: absolute;
    top: 70%;
    right: 50px;
    transform: translateY(17.5%);
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    color: #76E4FA;
    cursor: pointer;
    border: solid 1px #76E4FA;
}

.last-message-box {
    color: black;
    background-color: white;
    height: 15%;
    display: flex;
    align-items: center;
}

    .last-message-box:hover {
        background-color: #83CEEB;
    }

.select-user-pic {
    width: 70px;
    border-radius: 50%;
    background: #76E4FA;
    padding: 2px;
}

.block_user {
    width: 100%;
}


.calendar-table {
    border-collapse: collapse;
    width: 100%;
}

    .calendar-table th, .calendar-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    .calendar-table th {
        background-color: #83CEEB;
    }

    .calendar-table input {
        width: 100%;
        height: 75px;
        box-sizing: border-box;
    }

#infoarea {
    border: none;
    padding: 10px;
    font-family: Arial, sans-serif;
    resize: none;
}

.bug-report textarea {
    width: 100%;
    height: 100px;
    outline: none;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    color: black;
    font-weight: 100;
    margin-bottom: 5px;
}

    .bug-report textarea textarea:focus {
        border-color: white;
    }

.user-details .input-box-register textarea:focus {
    border-color: white;
}

#description {
    resize: none;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
}

    #description::-webkit-scrollbar {
        width: 0;
    }

    #description::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    #description::-webkit-scrollbar-track {
        background-color: transparent;
    }

::placeholder {
    color: #83CEEB;
}

.chat-without {
    font-size: 30px;
    color: #76E4FA;
    margin-top: 25px;
}

.block-user {
    margin: auto;
    height: 30px;
    border-radius: 10px;
    width: 40%;
    background-color: white;
    display: inline-block;
}

.image-border {
    background-color: white;
    border-radius: 10px;
}
