*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*User Profile*/
.profile-container {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box {
    background: #83CEEB;
    text-align: center;
    color: #fff;
    position: relative;
    border-radius: 40px;
    padding: 40px;
}

.profile-pic {
    width: 250px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
}

.upload {
    position: relative;
}

    .upload img {
        border-radius: 50%;
    }

    .upload .round {
        position: relative;
        bottom: 40px;
        right: -200px;
        background: #76E4FA;
        width: 32px;
        height: 32px;
        line-height: 33px;
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
    }

        .upload .round input[type = "file"] {
            position: absolute;
            transform: scale(2);
            opacity: 0;
        }

            .upload .round input[type = "file"]:hover {
                animation: grow 0.5s;
            }



input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.tile {
    margin-top: 5px;
    height: 100px;
    width: 80px;
    position: relative;
}


.tile input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid transparent;
    outline: none;
}

.tile input[type="checkbox"]:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f111";
    font-size: 12px;
    top: 2px;
    left: 2px;
    color: #e2e6f3;
}

.tile input[type="checkbox"]:hover {
    transform: scale(1.08);
}

.tile input[type="checkbox"]:checked {
    border: 3px solid #76E4FA;
}

    .tile input[type="checkbox"]:checked:after {
        font-weight: 900;
        content: "\f058";
        color: #76E4FA;
    }

.profile-label {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

    .profile-label .fas {
        font-size: 30px;
        color: #2c2c51;
    }

input[type="checkbox"]:checked + .profile-label .fas {
    animation: grow 0.5s;
}

.profile-label .img {
    font-size: 30px;
    color: #2c2c51;
}

input[type="checkbox"]:checked + .profile-label .img {
    animation: grow 0.5s;
}

@keyframes grow {
    50% {
        font-size: 45px;
    }
}

.profile-label h6 {
    font-family: "Poppins",sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #7b7b93;
}

h1 {
    margin-top: 5px;
    font-family: "Poppins",sans-serif;
}

.scrollable-container {
    padding: 2px;
    height: 150px;
    overflow-y: scroll;
}

    .scrollable-container::-webkit-scrollbar {
        display: none;
    }
/*Login*/
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: white;
}

.login-wrapper {
    width: 380px;
    max-width: 100%;
    background: #83CEEB;
    border: 2px solid rgba(255, 255, 255 .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 35px 45px;
}

    .login-wrapper h1 {
        font-size: 36px;
        font-weight: 400;
        text-align: center;
    }

    .login-wrapper .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 30px 0;
        color: #83CEEB;
    }

.input-box input {
    width: 100%;
    height: 100%;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #000;
    padding: 20px 45px 20px 20px;
}

    .input-box input::placeholder {
        color: #83CEEB;
    }

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.login-wrapper .remember-forgot {
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 1px 20px 60px;
}

.remember-forgot label input {
    text-align: center;
    accent-color: #fff;
    margin-right: 3px;
    align-content: center;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

    .remember-forgot a:hover {
        text-decoration: underline;
    }

.login-wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #83CEEB;
    font-weight: 600;
}

.login-wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

    .register-link p a:hover {
        text-decoration: underline;
    }