{% extends "layout.html" %}

{% block content %}
<!--Font-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  <!-- Include jQuery library -->

<div class="profile-container">
    <div class="profile-box">
        <h2>Witaj w Panelu Administratora</h2>
        <p>Zarzadzaj urzytkownikami:</p>
        <a href="{{ url_for('display_users') }}">Wyswietl Urzytkownikow</a>
        <br />
        <a href="{{ url_for('display_reports') }}">Wyswietl Raporty</a>
        <br />
        <a href="{{ url_for('display_user_reports') }}">Wyswietl Raporty Urzytkowniow</a>
    </div>
</div>


<script>
</script>



{% endblock %}