{% extends "layout.html" %}

{% block content %}

<select id="selected_user" name="selected_user">
    <option value="" selected disabled>Wybierz użytkownika</option>
    {% for user in users %}
    <option value="{{ user.user_id }}">{{ user.name }}</option>
    {% endfor %}
</select>

<div id="chat-container">
    <div id="message-container">
        {% for message in messages %}
        <div class="message">
            <strong>{{ message.sender_name }}</strong>: {{ message.content }}
        </div>
        {% endfor %}
    </div>

    <form id="message-form" method="post">
        <textarea id="message-input" name="content" placeholder="Napisz wiadomość"></textarea>
        <input type="submit" value="Wyślij">
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#selected_user').change(function () {
            var selectedUserId = $(this).val();
            window.location.href = '/chat/' + selectedUserId;
        });

        $('#message-form').submit(function (e) {
            e.preventDefault();
            var content = $('#message-input').val();
            $.post(window.location.href, { content: content }, function () {
                location.reload(); // Odśwież stronę po wysłaniu wiadomości
            });
        });
    });
</script>

{% endblock %}