/* BEGIN EXTERNAL SOURCE */
div {
float:right
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
padding: 10px; color: #00ffff
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
color: #00ffff
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
float:right
}
/* END EXTERNAL SOURCE */
