{% extends "layout.html" %}

{% block content %}
<div class="reports-container">
    <h2>Raporty Urzytkownikow</h2>
    <table class="table table-striped ">
        <thead class="th">
            <tr>
                <th>ID</th>
                <th>Reporter ID</th>
                <th>Reported ID</th>
                <th>Tytu&#322;</th>
                <th>Opis</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody class="tb-dark">
            {% for user_report in user_reports %}
            <tr>
                <td>{{ user_report[0] }}</td>
                <td>{{ user_report[1] }}</td>
                <td>{{ user_report[2] }}</td>
                <td>{{ user_report[3] }}</td>
                <td>{{ user_report[4] }}</td>
                <td>{{ user_report[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
