{% extends "layout.html" %}

{% block content %}


<div class="jumbotron">
    <h1>Witaj</h1>
    <p class="lead">SportyBuddies - Twoje miejsce, gdzie pasja do sportu spotyka sie z towarzystwem. Nasza platforma laczy ludzi, ktorzy kochaja aktywnosc fizyczna i szukaja partnera do wspolnych treningow. Dzieki naszej innowacyjnej technologii, dopasowujemy Cie z osobami, ktore dziela Twoje zainteresowania sportowe i mieszkaja w Twojej okolicy.</p>
    <p class="text-right"><a href="{{ url_for('login') }}" class="btn btn-primary btn-large">Zaczynajmy <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></p>
</div>

{% endblock %}
