{% extends "layout.html" %}

{% block content %}

<div class="index-container">
    <div class="row">
        <div class="welcome">
            <h1>
                SportyBuddies
            </h1>
            <p>
                Twoje miejsce, gdzie pasja do sportu spotyka sie z towarzystwem. Nasza platforma laczy ludzi, ktorzy kochaja aktywnosc fizyczna i szukaja partnera do wspolnych treningow. Dzieki naszej innowacyjnej technologii, dopasowujemy Cie z osobami, ktore dziela Twoje zainteresowania sportowe i mieszkaja w Twojej okolicy.
            </p>
            <a href="{{url_for('user_profile')}}" class="button">Zaczynajmy</a>
        </div>
    </div>
</div>
<style>
    .xd {
        width: 70%;
        height: 70%;
        margin-top: 30px;
        margin-bottom: 3px;
        border: 3px solid white;
        border-radius: 30px;
    }
</style>
<!--how-it-works-->
<div class="how-it-works">
    <h2 class="title">Jak to dzia&#322;a?</h2>
    <div class="small-container">
        <div class="col-1">
            <img src="../static/img/1.png" alt="Preferencje sportowe" class="xd">
            <p>Dostosuj Swoje preferencje sportowe</p>
        </div>
        <div class="col-1">
            <img src="../static/img/2.png" alt="Sportowy partner" class="xd">
            <p>Znajd&#378; odpowiedniego partnera</p>
        </div>
        <div class="col-1">
            <img src="../static/img/3.png" alt="Chat i trening" class="xd">
            <p>Czatuj i planuj trening</p>
        </div>
    </div>

    <!--sport-category-->
    <div class="sport-category">
        <h2 class="title">Kategorie sportowe</h2>
        <div class="small-container">
            <div class="row">
                <div class="col-6">
                    <div class="main-circle">
                        <i class="fas fa-futbol"></i>
                        <p>Pi&#322;ka no&#380;na</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="main-circle">
                        <i class="fas fa-dumbbell"></i>
                        <p>Si&#322;ownia</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="main-circle">
                        <i class="fas fa-running"></i>
                        <p>Bieganie</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="main-circle">
                        <i class="fas fa-swimmer"></i>
                        <p>P&#322;ywanie</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="main-circle">
                        <i class="fas fa-person-walking"></i>
                        <p>Spacer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--opinions-->
<div class="opinions">
    <h2 class="title">Co m&#243;wi&#261; o nas inni?</h2>
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <p>"Dzi&eacute;ki tej aplikacji moje treningi sta&#322;y sie bardziej urozmaicone i efektywne."</p>
                <img src="../static/img/jayce.jpg" alt="">
                <h3>Jakub</h3>
            </div>
            <div class="col-3">
                <p>
                    "Aplikacja sprawi&#322;a, &#378;e treningi sta&#322;y si&#281; dla mnie prawdziw&#261; przyjemno&#347;ci&#261;. Dzi&#281;ki r&#243;&#378;norodnym programom i
                    interaktywnym funkcjom, utrzymanie motywacji na wysokim poziomie jest teraz znacznie &#322;atwiejsze"
                </p>
                <img src="../static/img/viktor.jpg" alt="">
                <h3>Tomasz</h3>
            </div>
            <div class="col-3">
                <p>
                    "Aplikacja rewolucjonizuje moje podej&#347;cie do trening&#243;w, sprawiaj&#261;c, &#378;e s&#261; bardziej interesuj&#261;ce i skuteczne ni&#378;
                    kiedykolwiek wcze&#347;niej"
                </p>
                <img src="../static/img/jinx.jpg" alt="">
                <h3>Ania</h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}
