{% extends "layout.html" %}

{% block content %}

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<div class="login-container">
    <div class="login-wrapper">
        <form action="#" method="post">
            <h1>Zaloguj si&eogon;</h1>
            <div class="input-box">
                <input type="text" placeholder="Nazwa" name="username" id="username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Has&lstrok;o" name="password" id="password" required ">
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox">Zapami&eogon;taj mnie</label>
            </div>

            <input type="submit" class="btn" value="Zaloguj" id="submitBtn">
            <div class="register-link">
                <p>Nie masz konta? <a href="{{ url_for('register') }}">Zarejestruj si&eogon;</a></p>
            </div>
            <div class="remember-forgot">
                <a href="#">Zapomnia&lstrok;e&sacute; has&lstrok;a?</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}