{% extends "layout.html" %}

{% block content %}
<div class="body-main">
    <div class="text-container">
        <h1>Wybierz swojego partnera do treningu!</h1>
    </div>

    <div class="circle-container">
        <div class="circle-left">
            <img src="{{ url_for('get_user_photo') }}" class="mainpage-pic">
            <div class="name-container">
                <h1>{{result}}<span class="small-font">{{age}}</span></h1>
            </div>
        </div>

        <div class="white-square">
            <div class="small-circle">
                <i class="icon fas fa-check"></i>
            </div>
            <div class="small-circle2">
                <i class="icon fas fa-times"></i>
            </div>
        </div>

        <div class="circle-right">
            <img src="{{ url_for('get_user_photo') }}" class="mainpage-pic">
            <div class="name-container">
                <h1>{{result}}<span class="small-font">{{age}}</span></h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}
