{% extends "layout.html" %}

{% block content %}

<div class="register-body">
    <div class="register-container">

        <div class="register-title">Utw&oacute;rz konto</div>

        <form action="#" method="post" onsubmit="return validateForm();">
            <div class="user-details">
                <div class="input-box-register">
                    <span class="details">Nazwa</span>
                    <input type="text" placeholder="Wprowad&zacute; swoj&aogon; nazw&eogon;" name="username" id="username" required>
                </div>
                <div class="input-box-register">
                    <span class="details">Email</span>
                    <input type="email" name="email" id="email" required oninput="validateEmail()" placeholder="Wprowad&zacute; sw&oacute;j Email" required>
                </div>
                <div class="input-box-register">
                    <span class="details">Has&lstrok;o</span>
                    <input type="password" name="password" id="password" required oninput="validatePassword()" placeholder="Wprowad&zacute; has&lstrok;o">
                </div>
                <div class="input-box-register">
                    <span class="details">Potwierd&zacute; has&lstrok;o</span>
                    <input type="password" name="password_confirm" id="password_confirm" required oninput="validatePassword()" placeholder="Wprowad&zacute; ponownie has&lstrok;o">
                </div>
                <div class="input-box-register">
                    <span class="details">Wiek</span>
                    <input type="number" name="age" id="age" placeholder="Wprowad&zacute; sw&oacute;j wiek">
                </div>
                <div class="input-box-register">
                    <span class="details">P&lstrok;e&cacute;</span>
                    <div class="gender-details">
                        <input type="radio" name="gender" id="dot-1" value="male" required>
                        <input type="radio" name="gender" id="dot-2" value="female" required>
                        <div class="category" name="gender" id="gender" required>
                            <label for="dot-1">
                                <span class="dot one"></span>
                                <span class="gender">M&eogon;&zdot;czyzna</span>
                            </label>
                            <label for="dot-2">
                                <span class="dot two"></span>
                                <span class="gender">Kobieta</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="input-box-register">
                    <span class="details">Opis</span>
                    <textarea placeholder="Powiedz nam co&sacute; o Sobie" name="description" id="description"></textarea>
                </div>

                <div class="register-button">
                    <input type="submit"  class="btn" value="Zarejestruj si&eogon;" id="submitBtn">
                </div>

            </div>
</form>


    </div>
  
</div>


<script>
    function validatePassword() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("password_confirm").value;
        var submitButton = document.getElementById("submitBtn");

        var passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,32}$/;
        if (passw.test(password) )
        {
            submitButton.disabled = false;
        } else {
            submitButton.disabled = true;
        }
    }

    function validateEmail() {
        var email = document.getElementById("email").value;
        var submitButton = document.getElementById("submitBtn");
        var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
        console.log(reg.test(email));
        if (!reg.test(email)) {
            submitButton.disabled = true;
        } else {
            submitButton.disabled = false;
        }

    }

    function validateForm() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("password_confirm").value;

        if (password !== confirmPassword) {
            alert("Passwords do not match");
            return false;
        }

        return true;
    }
</script>

{% endblock %}
