{% extends "layout.html" %}

{% block content %}
<!--Font-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  <!-- Include jQuery library -->

<div class="popupbg">
    <div class="popup">
        <h3>Wybierz intensywnosc:</h3>
        <section>
            <div class="tile" style="background-color:white;">
                <input type="radio" name="intensivity" id="1">
                <label class="profile-label" for="1">
                    <i class="fas fa-running"></i>
                    <h6>Poczatkujacy</h6>
                </label>
            </div>
            <div class="tile" style="background-color:white;">
                <input type="radio" name="intensivity" id="2">
                <label class="profile-label" for="2">
                    <i class="fas fa-biking"></i>
                    <h6>Srednio Zaawansowany</h6>
                </label>c
            </div>
            <div class="tile" style="background-color:white;">
                <input type="radio" name="intensivity" id="3">
                <label class="profile-label" for="3">
                    <i class="fas fa-swimmer"></i>
                    <h6>Profesjonalnie</h6>
                </label>
            </div>
        </section>

    </div>
</div>
<div class="profile-container">

    <div class="profile-box">
        <div class="error2" style="position:relative;z-index:3;font-size: 14px;">{{error}}</div>
        <div class="upload">
            <img src="data:image/jpeg;base64,{{ user_photo }}" class="profile-pic">
            <div class="round">
                <form method="POST" action="/upload_photo" enctype="multipart/form-data" id="uploadPhotoForm">
                    <input type="file" name="photo" id="photoInput">
                    <i class="fa fa-camera"></i>
                </form>
            </div>
            <script>
                // Automatically submit the form when a file is selected
                document.getElementById('photoInput').addEventListener('change', function () {
                    document.getElementById('uploadPhotoForm').submit();
                });
            </script>
        </div>
        <h1>
            {% if user.gender == 'Kobieta' %}
            <span class="female-circle"><i class="icon fas fa-venus"></i></span>
            {% else %}
            <span class="male-circle"><i class="icon fas fa-mars"></i></span>
            {% endif %}
            {{ user.name }}, {{ user.age }}
        </h1>
        <p>
            <label for="status">Twoj Status: Online</label>

        </p>
        <div class="location">
            <p>Twoja aktualna lokalizacja: <br /><span style="color: #83CEEB; font-size: 30px;" id="locationName"></span></p>
        </div>
        <div class="location">
            <p>Twój Opis: <br /><textarea name="info" id="infoarea">{{ user.info }}</textarea></p>

        </div>
        <button onclick="confirmChange()">Zapisz Opis</button>
        <script>
            function confirmChange() {
                var userInfoElement = document.getElementById("infoarea");

                if (userInfoElement) {
                    var userInfo = userInfoElement.value;

                    if (userInfo.trim() !== "") {
                        var isConfirmed = confirm("Czy na pewno chcesz zmienić opis?");

                        if (isConfirmed) {
                            window.location.href = "/update_user_info/" + userInfo;
                        }
                    } else {
                        alert("Opis nie może być pusty.");
                    }
                } else {
                    alert("Nie znaleziono elementu o id 'infoarea'.");
                }
            }
        </script>
        <br />
        <br />
        <br />
        <div class="delete-account" style="float:right">
            <button onclick="confirmDelete()">Usuń konto</button>
            <script>
                function confirmDelete() {
                    var isConfirmed = confirm("Czy na pewno chcesz usunąć swoje konto?");

                    if (isConfirmed) {
                        window.location.href = "/delete_user";
                    }
                }
            </script>
        </div>
    </div>
    <div class="profile-container">

        <div class="profile-box">
            <form id="preferencesForm">
                <h4>Preferowany wiek</h4>
               
    <label for="min_age">Od:</label>
                <br />
    <input type="range" id="min_age" name="min_age" min="18" max="80" value="{{ preferences.min_age }}" required>
    <span id="min_age_display">{{ preferences.min_age }}</span>
                <br />
    <label for="max_age">Do:</label>
                <br />
    <input type="range" id="max_age" name="max_age" min="18" max="80" value="{{ preferences.max_age }}" required>
    <span id="max_age_display">{{ preferences.max_age }}</span>
    <br />
    <label for="preferred_distance">Preferowana odległość</label>
    <br />
    <div style="width:357px">
        <input type="range" id="preferred_distance" name="preferred_distance" min="1" max="500" value="{{ preferences.preferred_distance }}" style="width: 300px;" required>
        <span id="preferred_distance_display">{{ preferences.preferred_distance }}</span> km
    </div>
    <br />
    <label for="gender_preference">Szukam:</label>
    <select id="gender_preference" name="gender_preference" required>
        <option value="Mężczyzna" {% if preferences.gender_preference == 'Mężczyzna' %} selected {% endif %}>M&#281;&#380;czyzna</option>
        <option value="Kobieta" {% if preferences.gender_preference == 'Kobieta' %} selected {% endif %}>Kobieta</option>
        <option value="Wszyscy" {% if preferences.gender_preference == 'Wszyscy' %} selected {% endif %}>Wszyscy</option>
    </select>
    <br />
                <br />
    <button type="button" onclick="submitForm()">Zapisz</button>
</form>
            <br />
            <p>Wybierz swoje zainteresowania</p>
            <br />
            <div class="scrollable-container">
                <section>
                    <div class="tile">
                        <input type="checkbox" name="sports" id="running" data-sport-id="1" {% if user_sports[0] %} checked {% endif%}>
                        <label class="profile-label" for="running">
                            <i class="fas fa-running"></i>
                            <h6>Bieganie</h6>
                        </label>
                    </div>
                    <div class="tile">
                        <input type="checkbox" name="sports" id="biking" data-sport-id="2" {% if user_sports[1] %} checked {% endif%}>
                        <label class="profile-label" for="biking">
                            <i class="fas fa-biking"></i>
                            <h6>Jazda na rowerze</h6>
                        </label>
                    </div>
                    <div class="tile">
                        <input type="checkbox" name="sports" id="swimming" data-sport-id="3" {% if user_sports[2] %} checked {% endif%}>
                        <label class="profile-label" for="swimming">
                            <i class="fas fa-swimmer"></i>
                            <h6>Plywanie</h6>
                        </label>
                    </div>
                </section>
                <section>
                    <div class="tile">
                        <input type="checkbox" name="sports" id="gym" data-sport-id="4" {% if user_sports[3] %} checked {% endif%}>
                        <label class="profile-label" for="gym">
                            <i class="fas fa-dumbbell"></i>
                            <h6>Silownia</h6>
                        </label>
                    </div>
                    <div class="tile">
                        <input type="checkbox" name="sports" id="soccer" data-sport-id="5" {% if user_sports[4] %} checked {% endif%}>
                        <label class="profile-label" for="soccer">
                            <i class="fas fa-futbol"></i>
                            <h6>Pilka nozna</h6>
                        </label>
                    </div>
                    <div class="tile">
                        <input type="checkbox" name="sports" id="basketball" data-sport-id="6" {% if user_sports[5] %} checked {% endif%}>
                        <label class="profile-label" for="basketball">
                            <i class="fas fa-basketball"></i>
                            <h6>Koszykowka</h6>
                        </label>
                    </div>
                </section>
                <section>
                    <div class="tile">
                        <input type="checkbox" name="sports" id="volleyball" data-sport-id="7" {% if user_sports[6] %} checked {% endif%}>
                        <label class="profile-label" for="volleyball">
                            <i class="fas fa-volleyball"></i>
                            <h6>Siatkowka</h6>
                        </label>
                    </div>
                    <div class="tile">
                        <input type="checkbox" name="sports" id="walk" data-sport-id="8" {% if user_sports[7] %} checked {% endif%}>
                        <label class="profile-label" for="walk">
                            <i class="fas fa-person-walking"></i>
                            <h6>Spacer</h6>
                        </label>
                    </div>
                    <div class="tile">
                        <input type="checkbox" name="sports" id="bowling" data-sport-id="9" {% if user_sports[8] %} checked {% endif%}>
                        <label class="profile-label" for="bowling">
                            <i class="fas fa-bowling-ball"></i>
                            <h6>Kregle</h6>
                        </label>
                    </div>
                </section>
                <section>
                    <div class="tile">
                        <input type="checkbox" name="sports" id="baseball" data-sport-id="10" {% if user_sports[9] %} checked {% endif%}>
                        <label class="profile-label" for="baseball">
                            <i class="fas fa-baseball-ball"></i>
                            <h6>Baseball</h6>
                        </label>
                    </div>
                    <div class="tile">
                        <input type="checkbox" name="sports" id="golf" data-sport-id="11" {% if user_sports[10] %} checked {% endif%}>
                        <label class="profile-label" for="golf">
                            <i class="fas fa-golf-ball"></i>
                            <h6>Golf</h6>
                        </label>
                    </div>
                    <div class="tile">
                        <input type="checkbox" name="sports" id="skating" data-sport-id="12" {% if user_sports[11] %} checked {% endif%}>
                        <label class="profile-label" for="skating">
                            <i class="fas fa-skating"></i>
                            <h6>Lyzwy</h6>
                        </label>
                    </div>
                </section>
                <section>
                    <div class="tile">
                        <input type="checkbox" name="sports" id="skiing" data-sport-id="13" {% if user_sports[12] %} checked {% endif%}>
                        <label class="profile-label" for="skiing">
                            <i class="fas fa-skiing"></i>
                            <h6>Jazda na naratach</h6>
                        </label>
                    </div>
                    <div class="tile">
                        <input type="checkbox" name="sports" id="snowboard" data-sport-id="14" {% if user_sports[13] %} checked {% endif%}>
                        <label class="profile-label" for="snowboard">
                            <i class="fas fa-snowboarding"></i>
                            <h6>Snowboard</h6>
                        </label>
                    </div>
                    <div class="tile">
                        <input type="checkbox" name="sports" id="table-tennis" data-sport-id="15" {% if user_sports[14] %} checked {% endif%}>
                        <label class="profile-label" for="table-tennis">
                            <i class="fas fa-table-tennis"></i>
                            <h6>Tenis stolowy</h6>
                        </label>
                    </div>
                </section>

            </div>

        </div>
    </div>
    

</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;


                    getLocationName(latitude, longitude);
                },
                function (error) {
                    console.error('Blad pobierania lokalizacji:', error);
                }
            );
        } else {
            console.error('Przegladarka nie obsluguje Geolokalizacji.');
        }

        function getLocationName(latitude, longitude) {
            var nominatimApiUrl = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${latitude}&lon=${longitude}`;

            $.ajax({
                type: 'GET',
                url: nominatimApiUrl,
                dataType: 'json',
                success: function (data) {
                    var city = data.address.city || data.address.town || data.address.village || data.address.hamlet || 'Unknown';
                    displayLocationName(city);
                    sendLocationToServer(latitude, longitude, city);
                },
                error: function (error) {
                    console.error('Error fetching location name:', error);
                }
            });
        }

        function displayLocationName(locationName) {

            $('#locationName').text(locationName);
        }

        function sendLocationToServer(latitude, longitude, locationName) {
            $.ajax({
                type: 'POST',
                url: '/update_user_location',
                contentType: 'application/json',
                data: JSON.stringify({
                    latitude: latitude,
                    longitude: longitude,
                    locationName: locationName
                }),
                success: function (data) {
                    console.log('Lokalizacja zostala wyslana do serwera.');
                },
                error: function (error) {
                    console.error('Blad podczas wysylania lokalizacji do serwera:', error);
                }
            });
        }
    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var radioButtons = document.querySelectorAll('input[name="intensivity"]');
        radioButtons.forEach(function (radioButton) {
            radioButton.addEventListener('change', function () {
                var intensityValue = this.id;
                var checkedCheckbox = document.querySelector('input[name="sports"]:checked');
                if (checkedCheckbox) {
                    var sportId = checkedCheckbox.getAttribute('data-sport-id');
                    debugger;
                    sendDataToDatabase(sportId, intensityValue);
                    hidePopup();
                }
            });
        });
    });

    function showPopup() {
        document.querySelector('.popupbg').style.display = 'block';
    }

    function hidePopup() {
        document.querySelector('.popupbg').style.display = 'none';
        var checkedRadio = document.querySelector('input[name="intensivity"]:checked');
        if (checkedRadio) {
            checkedRadio.checked = false;
        }
    }

    function sendDataToDatabase(sportId, intensityValue) {
        // Send an AJAX request to update the database
        $.ajax({
            type: "POST",
            url: "/update_user_sports_intensity",
            data: {
                sportId: sportId,
                intensity: intensityValue
            },
            success: function (data) {
                // Handle the response if needed
            }
        });
        console.log("Sport ID:", sportId, "Intensity:", intensityValue);
    }

    document.addEventListener('DOMContentLoaded', function () {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        var maxChecked = 3;
        var checkedCheckboxes = [];

        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                checkedCheckboxes.push(this);
            }
        });

        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                if (this.checked) {
                    checkedCheckboxes.push(this);
                    showPopup();
                    if (checkedCheckboxes.length > maxChecked) {
                        this.checked = false;
                        checkedCheckboxes.shift();
                        hidePopup();
                    }
                } else {
                    checkedCheckboxes.splice(checkedCheckboxes.indexOf(this), 1);
                }
            });
        });
    });
    $(document).ready(function () {
        $('input[type="checkbox"]').change(function () {
            var isChecked = $(this).is(":checked");
            var sportId = $(this).data("sport-id");

            // Send an AJAX request to update the database
            $.ajax({
                type: "POST",
                url: "/update_user_sports",
                data: {
                    sportId: sportId,
                    isChecked: isChecked
                },
                success: function (data) {
                    // Handle the response if needed
                }
            });
        });
    });



    document.addEventListener('DOMContentLoaded', function () {
        var statusSelect = document.getElementById('status');

        statusSelect.addEventListener('change', function () {
            if (statusSelect.value != "") {
                var selectedStatus = statusSelect.value;
                sendStatusToDatabase(selectedStatus);
            }
        });

        function sendStatusToDatabase(status) {
            // Send an AJAX request to update the user's status in the database
            $.ajax({
                type: "POST",
                url: "/update_user_status",
                data: {
                    status: status
                },
                success: function (data) {
                    // Handle the response if needed
                }
            });
        }
    });
</script>
<script>
    var minAgeRange = document.getElementById('min_age');
    var maxAgeRange = document.getElementById('max_age');
    var preferredDistanceRange = document.getElementById('preferred_distance');
    var minAgeDisplay = document.getElementById('min_age_display');
    var maxAgeDisplay = document.getElementById('max_age_display');
    var preferredDistanceDisplay = document.getElementById('preferred_distance_display');

    function updateMinAgeDisplay() {
        minAgeDisplay.innerHTML = minAgeRange.value;
    }

    function updateMaxAgeDisplay() {
        maxAgeDisplay.innerHTML = maxAgeRange.value;
    }

    function updatePreferredDistanceDisplay() {
        preferredDistanceDisplay.innerHTML = preferredDistanceRange.value;
    }

    minAgeRange.addEventListener('input', function () {
        if (parseInt(minAgeRange.value) > parseInt(maxAgeRange.value)) {
            minAgeRange.value = maxAgeRange.value;
        }
        updateMinAgeDisplay();
    });

    maxAgeRange.addEventListener('input', function () {
        if (parseInt(maxAgeRange.value) < parseInt(minAgeRange.value)) {
            maxAgeRange.value = minAgeRange.value;
        }
        updateMaxAgeDisplay();
    });

    preferredDistanceRange.addEventListener('input', function () {
        updatePreferredDistanceDisplay();
    });

    function submitForm() {
        var formData = new FormData(document.getElementById('preferencesForm'));

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/save_preferences', true);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var resultDiv = document.getElementById('result');
                resultDiv.innerHTML = 'Result: ' + JSON.parse(xhr.responseText).result;
            }
        };

        xhr.send(formData);
    }
</script>
    {% endblock %}
